node_modules
package-lock.json

{
  //Workbench
  "workbench.tips.enabled": false,
  "workbench.tree.indent": 4,
  "workbench.sideBar.location": "right",
  "workbench.editor.tabSizing": "fit",
  "workbench.startupEditor": "none",
  "workbench.tree.renderIndentGuides": "none",
  "workbench.colorTheme": "Oceanic Next (dimmed bg)",
  "workbench.editor.enablePreview": false,
  "workbench.activityBar.visible": false,
  "workbench.commandPalette.history": 10,
  "workbench.commandPalette.preserveInput": true,
  "workbench.list.smoothScrolling": true,
  "workbench.iconTheme": "easy-icons",
  "workbench.activityBar.iconClickBehavior": "focus",
  "workbench.editor.closeOnFileDelete": true,
  "workbench.editor.labelFormat": "short",

  //Editor
  "editor.suggestSelection": "first",
  "editor.suggest.selectionMode": "always",
  "editor.suggest.showWords": true,
  "editor.showDeprecated": false,
  "editor.suggest.showDeprecated": false,
  "editor.inlayHints.enabled": "on",
  "editor.renderWhitespace": "none",
  "editor.scrollbar.horizontal": "hidden",
  "editor.scrollbar.vertical": "hidden",
  "editor.cursorSmoothCaretAnimation": "on",
  "editor.unicodeHighlight.invisibleCharacters": false,
  "editor.unicodeHighlight.ambiguousCharacters": false,
  "editor.tabSize": 2,
  "editor.renderControlCharacters": false,
  "editor.smoothScrolling": true,
  "editor.cursorStyle": "line",
  "editor.bracketPairColorization.enabled": true,
  "editor.bracketPairColorization.independentColorPoolPerBracketType": false,
  "editor.codeActionWidget.showHeaders": true,
  "editor.colorDecoratorsLimit": 400,
  "editor.copyWithSyntaxHighlighting": false,
  "editor.dropIntoEditor.enabled": false,
  "editor.glyphMargin": false,
  "editor.matchBrackets": "never",
  "editor.scrollbar.horizontalScrollbarSize": 0,
  "editor.cursorBlinking": "solid",
  "editor.fontLigatures": true,
  "editor.codeLens": true,
  "editor.accessibilitySupport": "off",
  "editor.inlineSuggest.showToolbar": "always",
  "editor.guides.highlightActiveIndentation": false,
  "editor.guides.bracketPairsHorizontal": false,
  "editor.minimap.maxColumn": 50,
  "editor.minimap.size": "fit",
  "editor.minimap.autohide": true,
  "editor.suggest.showSnippets": false,
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.guides.indentation": false,
  "editor.guides.highlightActiveBracketPair": false,
  "editor.lightbulb.enabled": false,
  "editor.linkedEditing": true,
  "editor.renderLineHighlightOnlyWhenFocus": true,
  "editor.scrollbar.verticalScrollbarSize": 1,
  "editor.cursorSurroundingLines": 1,
  "editor.cursorSurroundingLinesStyle": "all",
  "editor.find.autoFindInSelection": "always",
  "editor.semanticTokenColorCustomizations": {
    "enabled": false
  },
  // "editor.fontFamily": "JetBrains Mono",
  // "editor.fontFamily": "Fira Code",
  "editor.fontSize": 17,

  //CaskaydiaCove Nerd Font
  // "editor.fontFamily": "CaskaydiaCove Nerd Font",
  // "editor.fontWeight": "300",
 //CaskaydiaCove Nerd Font

  //Lilex Nerd Font Mono
  "editor.fontFamily": "Lilex Nerd Font Mono",
  //Lilex Nerd Font Mono

  //Recursive
  // "editor.fontFamily": "Rec Mono Duotone",
  // "editor.fontFamily": "Rec Mono Linear",
  // "editor.fontFamily": "Rec Mono Casual",
  // "editor.fontFamily": "Rec Mono SemiCasual",
  //Recursive

  //Source Code Pro
  // "editor.fontFamily": "Source Code Pro",
 //Source Code Pro

  //Files
  "files.autoSave": "afterDelay",
  "files.simpleDialog.enable": true,

  //Window
  "window.openFilesInNewWindow": "off",
  "window.restoreFullscreen": true,
  "window.zoomLevel": -1.5,

  //Terminal
  // "terminal.integrated.fontFamily": "JetBrainsMono Nerd Font",
 "terminal.integrated.fontFamily": "FiraCode Nerd Font",
  // "terminal.integrated.fontFamily": "CaskaydiaCove Nerd Font",
  "terminal.integrated.defaultProfile.windows": "Git Bash",
  "terminal.integrated.fontSize": 12,
  "terminal.integrated.fontWeight": 350,
  "terminal.integrated.customGlyphs": false,
  "terminal.integrated.gpuAcceleration": "canvas",

  //Breadcrumbs
  "breadcrumbs.enabled": false,

  //Search
  "search.collapseResults": "alwaysCollapse",
  "search.defaultViewMode": "tree",

  //Explorer
  "explorer.confirmDelete": false,
  "explorer.compactFolders": false,
  "explorer.confirmDragAndDrop": false,
  "explorer.autoReveal": false,
  "explorer.decorations.badges": false,
  "explorer.fileNesting.enabled": true,
  "explorer.incrementalNaming": "smart",
  "explorer.sortOrder": "type",

  //Pretier
  "prettier.arrowParens": "avoid",
  "prettier.semi": false,
  "prettier.useTabs": true,
  "prettier.singleQuote": true,
  "prettier.jsxSingleQuote": true,

  //Javascript
  "javascript.format.enable": true,
  "javascript.format.semicolons": "remove",
  "javascript.updateImportsOnFileMove.enabled": "always",
  "javascript.suggest.paths": true,
  "javascript.suggest.completeFunctionCalls": true,

  //TypeScript
  "typescript.format.enable": true,
  "typescript.format.semicolons": "remove",
  "typescript.updateImportsOnFileMove.enabled": "always",
  "typescript.suggest.paths": true,
  "typescript.suggest.completeFunctionCalls": true,

  //Emmet
  "emmet.triggerExpansionOnTab": true,
  "emmet.showAbbreviationSuggestions": false,
  "emmet.includeLanguages": {
    "javascript": "javascriptreact",
    "typescript": "typescriptreact"
  },

  //Formatter
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[javascriptreact]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[typescript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[typescriptreact]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[json]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[jsonc]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[css]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[scss]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[html]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },

  //SCSS
  "scss.showErrors": true,
  "scss.lint.duplicateProperties": "warning",
  "scss.lint.propertyIgnoredDueToDisplay": "warning",
  "scss.format.spaceAroundSelectorSeparator": true,

  //Version lens
  "versionlens.suggestions.showPrereleasesOnStartup": true,
  "versionlens.suggestions.showOnStartup": true,

  //Extenstions
  "extensions.ignoreRecommendations": true,

  //NPM Intelisense
  "npm-intellisense.scanDevDependencies": true,

  //Diff
  "diffEditor.diffAlgorithm": "advanced",

  //Live Server
  "liveServer.settings.donotShowInfoMsg": true,
  "liveServer.settings.donotVerifyTags": true,
  "workbench.statusBar.visible": false,
}
  Auto Comment Blocks
  Auto Rename Tag
  Easy icon theme
  File Utils
  Halcyon Theme
  Horizon Theme
  Hyper Term Theme
  IntelliCode
  Javascript and Typescript Nightly
  Monaki Pro(icons)
  Nomo Dark Icon Theme Extended
  npm Intellisense
  Path Intellisense
  Prettier Code formater
  Pretty TypeScript Errors
  SCSS Intellisense
  seti-icons-extended
  Template String Converter
  Tomorrow and Tomorrow Nightly
  Verdandi Theme(icon)
  Version Lens