.slider_loader_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.slider_loader_bottom {
  margin-top: 1rem;
	display: flex;
	align-items: center;
  justify-content: center;
}
